{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" href="{% static '/images/inventory1.png' %}">
</head>
<body>
	<div class="container mt-5">
		<p style="font-family: sans-serif; font-weight: bold;">This is an Inventory Management System. This is designed to keep track the conditons of all devices that is manufactured by us. We put all efforts to make our service better for world wide. We are constantly working on new technologies to make the devices more better.
		</p>
	</div>
</body>

</html>